@tailwind base;
@tailwind components;
@tailwind utilities;

.night {
  background: rgb(197, 100, 2);
}
.morning {
  background: rgb(79, 29, 226);

}
.bigNight {
  background: rgb(0, 131, 131);
}

.deleteBtn {
  background: crimson;
  color: white;
}
