@tailwind base;
@tailwind components;
@tailwind utilities;

.night {
  background: rgb(230, 162, 35);
}
.morning {
  background: rgb(79, 29, 226);

}
.bigNight {
  background: rgb(1, 166, 187);
}

.deleteBtn {
  background: crimson;
  color: white;
}

